%TMPL:DEF{"metadata::actions"}%<span class="metaDataActions foswikiNormal jqUITooltip" data-theme="info" data-arrow="on" data-position="top">%edit%%delete%</span>%TMPL:END%

%TMPL:DEF{"metadata::action::edit"}%<a href="%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%topic%&name=metadataplugin&expand=metadata::editor&metadata=%meta%&metadata::name=%name%&metadata::title=%ENCODE{"%title%"}%&includeattr=%includeattr%&excludeattr=%excludeattr%&map=%ENCODE{"%map%"}%&anchor=%anchor%&navigation=%navigation%&querystring=%ENCODE{"%QUERYSTRING%"}%&t=%GMTIME{"$epoch"}%" class="jqUIDialogLink metaDataEditAction" id="%id%" title="%MAKETEXT{"Edit"}%">%JQICON{"fa-pencil"}%</a>%TMPL:END%
%TMPL:DEF{"metadata::action::duplicate"}%<a href="%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%topic%&name=metadataplugin&expand=metadata::duplicator&metadata=%meta%&metadata::name=%name%&metadata::title=%ENCODE{"%title%"}%&anchor=%anchor%&querystring=%ENCODE{"%QUERYSTRING%"}%&t=%GMTIME{"$epoch"}%" class="jqUIDialogLink metaDataDuplicateAction" id="%id%" title="%MAKETEXT{"Duplicate"}%">%JQICON{"page_white_copy"}%</a>%TMPL:END%
%TMPL:DEF{"metadata::action::move"}%<a href="%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%topic%&name=metadataplugin&expand=metadata::move&metadata=%meta%&metadata::name=%name%&metadata::title=%ENCODE{"%title%"}%&anchor=%anchor%&querystring=%ENCODE{"%QUERYSTRING%"}%&t=%GMTIME{"$epoch"}%" class="jqUIDialogLink metaDataDuplicateAction" id="%id%" title="%MAKETEXT{"Move"}%">%JQICON{"fa-arrows"}%</a>%TMPL:END%
%TMPL:DEF{"metadata::action::delete"}%<a href="%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%topic%&name=metadataplugin&expand=metadata::confirmdelete&metadata=%meta%&metadata::name=%name%&metadata::title=%ENCODE{"%title%"}%&anchor=%anchor%&querystring=%ENCODE{"%QUERYSTRING%"}%&t=%GMTIME{"$epoch"}%" class="jqUIDialogLink metaDataDeleteAction" id="%id%" title="%MAKETEXT{"Delete"}%">%JQICON{"fa-trash"}%</a>%TMPL:END%
%TMPL:DEF{"DISmetadata::action::new"}%<a href="%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%topic%&name=metadataplugin&expand=metadata::editor&metadata=%meta%&metadata::title=%ENCODE{"%title%"}%&map=%ENCODE{"%map%"}%&anchor=%anchor%&querystring=%ENCODE{"%QUERYSTRING%"}%&t=%GMTIME{"$epoch"}%" class="jqUIButton jqUIDialogLink metaDataNewAction" data-icon="%icon%">%buttontitle%</a>%TMPL:END%
%TMPL:DEF{"DISmetadata::new"}%<a href="%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%topic%&name=metadataplugin&expand=metadata::editor&metadata=%meta%&metadata::title=%ENCODE{"%title%"}%&map=%ENCODE{"%map%"}%&anchor=%anchor%&querystring=%ENCODE{"%QUERYSTRING%"}%&t=%GMTIME{"$epoch"}%" class="jqUIButton jqUIDialogLink metaDataNewAction" data-icon="%icon%">%buttontitle%</a>%TMPL:END%
%TMPL:DEF{"metadata::new"}%%BUTTON{"%buttontitle%" icon="%icon%" href="%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%topic%&name=metadataplugin&expand=metadata::editor&metadata=%meta%&metadata::title=%ENCODE{"%title%"}%&includeattr=%includeattr%&excludeattr=%excludeattr%&map=%ENCODE{"%map%"}%&anchor=%anchor%&querystring=%ENCODE{"%QUERYSTRING%"}%&%values%&t=%GMTIME{"$epoch"}%" class="jqUIDialogLink metaDataNewAction"}%%TMPL:END%

%TMPL:DEF{"metadata::editor"}%%IF{
  "%RENDERMETADATA{"%URLPARAM{"metadata"}%" header="$islocked" footer="" format=""}%"
  then="$percntTMPL:P{\"metadata::locked\"}$percnt"
  else="$percntTMPL:P{\"metadata::editor::impl\" includeattr=\"\"}$percnt"
}%%TMPL:END%

%TMPL:DEF{"metadata::locked"}%%{}%
<literal>
<script>
jQuery(function($) {
  $.blockUI({
    message: '<h2>%MAKETEXT{"Warning"}%</h2>%MAKETEXT{
        "This topic is locked by [_1].<br />Please try again later."
          args="%RENDERMETADATA{"%URLPARAM{"metadata"}%" header="$lockedby" footer="" format=""}%"
        }%',
    timeout: 3000,
    onBlock: function() {
      $('.blockUI').click(function() {
        $.unblockUI(); 
        return false;
      });
    }
  });
});
</script>
</literal>
%{}%%TMPL:END%

%TMPL:DEF{"metadata::editor::impl"}%%{}%
<div title="%URLPARAM{"metadata::title" default="%MAKETEXT{"Edit"}% %URLPARAM{"metadata"}%" }%" class="metaDataEditDialog jqUIDialog" data-show="undefined" data-modal="true" data-resizable="true" data-draggable="true" data-width="%URLPARAM{"width" default="auto"}%">
  <form class='jqValidate' id='metaDataForm' action='%SCRIPTURL{"rest"}%/NatEditPlugin/save' method='post'>
  <input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
  <input type="hidden" name="redirectto" value="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%%IF{"$'URLPARAM{querystring}'!=''" then="?%URLPARAM{"querystring"}%"}%#%URLPARAM{"anchor"}%" />
  %RENDERMETADATA{
    "%URLPARAM{"metadata"}%" 
    action="edit"
    name="%URLPARAM{"metadata::name" default="id"}%"
    includeattr="%URLPARAM{"includeattr"}%"
    excludeattr="%URLPARAM{"excludeattr"}%"
    %TMPL:P{"metadata::editor::params"}%
    map="%URLPARAM{"map"}%"
  }%
  <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-disk">%MAKETEXT{"Save"}%</a>
  <a class="jqUIDialogButton jqUIDialogDestroy" data-icon="ui-icon-cancel">%MAKETEXT{"Cancel"}%</a>
%IF{"'%URLPARAM{"navigation"}%'!='off'"
  then="$percntTMPL:P{\"metadata::editor::navigation\"}$percnt"
}%</form>
</div>
%{}%%TMPL:END%

%TMPL:DEF{"metadata::editor::navigation"}%%{}%
<a class="jqUIDialogButton metaDataPrev" %IF{"'%URLPARAM{"metadata::prev"}%'=''" then="data-disabled='true'"}% data-selector="%URLPARAM{"metadata::prev"}%" data-icon="ui-icon-circle-triangle-w">%MAKETEXT{"Previous"}%</a>
<a class="jqUIDialogButton metaDataNext" %IF{"'%URLPARAM{"metadata::next"}%'=''" then="data-disabled='true'"}% data-selector="%URLPARAM{"metadata::next"}%" data-icon="ui-icon-circle-triangle-e">%MAKETEXT{"Next"}%</a>
%{}%%TMPL:END%

%TMPL:DEF{"metadata::editor::params"}%
    TopicTitle_title="%MAKETEXT{"Title"}%"
%TMPL:END%

%TMPL:DEF{"metadata::duplicator"}%%{}%
<div title="%URLPARAM{"metadata::title" default="%MAKETEXT{"Duplicate"}% %URLPARAM{"metadata"}%" }%" class="jqUIDialog" data-modal="true" data-resizable="true" data-draggable="true" data-width="710">
  <form id='metaDataForm' action='%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%' method='post'>
  %RENDERMETADATA{
    "%URLPARAM{"metadata"}%" 
    action="edit"
    name="%URLPARAM{"metadata::name" default="id"}%"
    name_value="id"
    map="%URLPARAM{"map"}%"
    %TMPL:P{"metadata::duplicator::params"}%
  }%
  <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-circle-check">%MAKETEXT{"Save"}%</a>
  <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"Cancel"}%</a>
  </form>
</div>
%{}%%TMPL:END%

%TMPL:DEF{"metadata::duplicator::params"}%%TMPL:P{"metadata::editor::params"}%%TMPL:END%

%TMPL:DEF{"metadata::move"}%%{}%
<div title="%URLPARAM{"metadata::title" default="%MAKETEXT{"Move"}% %URLPARAM{"metadata"}%" }%" class="jqUIDialog" data-modal="true" data-resizable="true" data-draggable="true" data-width="710">
  <form id='metaDataForm' action='%SCRIPTURLPATH{"save"}%' method='post'>
    <input type="text" name="topic" value="%BASEWEB%.%BASETOPIC%" size="80" />
  %RENDERMETADATA{
    "%URLPARAM{"metadata"}%" 
    action="edit"
    name="%URLPARAM{"metadata::name" default="id"}%"
    name_value="id"
    map="%URLPARAM{"map"}%"
    hidden=".*"
    _header=""
    _footer=""
    %TMPL:P{"metadata::move::params"}%
  }%
  <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-circle-check">%MAKETEXT{"Save"}%</a>
  <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"Cancel"}%</a>
  </form>
</div>
%{}%%TMPL:END%

%TMPL:DEF{"metadata::move::params"}%%TMPL:P{"metadata::editor::params"}%%TMPL:END%

%TMPL:DEF{"metadata::confirmdelete"}%%IF{
  "%RENDERMETADATA{"%URLPARAM{"metadata"}%" header="$islocked" footer="" format=""}%"
  then="$percntTMPL:P{\"metadata::locked\"}$percnt"
  else="$percntTMPL:P{\"metadata::confirmdelete::impl\"}$percnt"
}%%TMPL:END%

%TMPL:DEF{"metadata::confirmdelete::impl"}%%{}%
<div title="%MAKETEXT{"Confirmation required"}%" class="metaDataDeleteDialog jqUIDialog" data-modal="true" data-draggable="true" data-width="300">
<img src="%PUBURLPATH%/%SYSTEMWEB%/MetaDataPlugin/trash.png" width="48" height="48" align="right" />
%MAKETEXT{"Are you sure that you want to delete this record?"}%
%TMPL:P{"metadata::confirmdelete::details"}%%{}%
<form class="metaDataDeleteForm" action="%SCRIPTURLPATH{"jsonrpc"}%/MetaDataPlugin/delete" method="post">
<input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
<input type="hidden" name="metadata" value="%URLPARAM{"metadata"}%" />
<input type="hidden" name="metadata::name" value="%URLPARAM{"metadata::name"}%" />
<a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-trash">%MAKETEXT{"Yes, delete"}%</a>
<a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"No, thanks"}%</a>
</form>
</div>
<literal>
<script>
jQuery(function($) {
  $(".metaDataDeleteForm").ajaxForm({
    success: function() {
      window.location.reload(); /* = '%SCRIPTURL{"view"}%/%WEB%/%TOPIC%%IF{"$'URLPARAM{querystring}'!=''" then="?%URLPARAM{"querystring"}%"}%';*/
    },
    error: function(xhr, status, error) {
      $(".metaDataDeleteDialog").dialog("close");
      $.blockUI({
        message: '<h2>%MAKETEXT{"Warning"}%</h2>%MAKETEXT{"This topic is locked. <br />Please try again later."}%',
        timeout: 3000,
        onBlock: function() {
          $('.blockUI').click(function() {
            $.unblockUI(); 
            return false;
          });
        }
      });
    }
  });
});
</script>
</literal>
%{}%%TMPL:END%

%TMPL:DEF{"DISmetadata::confirmdelete::details"}%%{}%
<p class="foswikiCenter"><b>%URLPARAM{"metadata::name" default="%name%"}%</b></p>
%{}%%TMPL:END%
