.metaDataView table {
  width:99.5%;
  cursor:pointer;
}
.metaDataReadOnly table {
  margin-right:0px;
}
.metaDataActions,
.metaDataView table tr.hover td {
  border-color:#e4e4e4;
  background-color:#f4f4f4;
}
.metaDataRow, 
.metaDataView tr td,
.metaDataRow td {
  position:relative;
}
.metaDataActions {
  display:none;
  position:absolute;
  top:0;
  right:7px;
  border-style:solid;
  padding:0 0.2em;
}
.metaDataActions a {
  padding:5px;
  display:block;
  float:left;
  vertical-align:middle;
}
.hover .metaDataActions {
  display:block;
}
#metaDataForm tr.name {
  display:none;
}
.ui-dialog .metaDataEdit.foswikiFormSteps {
  padding:0;
  margin:0;
  border:0;
  background:transparent;
}
