.metaDataView table {
  width:99.5%;
  cursor:pointer;
}
.metaDataReadOnly table {
  margin-right:0px;
}
.metaDataActions,
.metaDataView table tr.hover td {
  background-color: var(--color-hover-background, #ececec) !important;
  color: var(--color-hover-foreground, #333) !important;
}
.metaDataRow, 
.metaDataView tr td,
.metaDataRow td {
  position:relative;
}
.metaDataActions {
  display:none;
  position:absolute;
  top:50%;
  right:0;
  border-style:solid;
  padding:0 0.2em;
  min-width:70px;
  transform:translate(0, -50%);
}
.metaDataActions a {
  padding:5px;
  margin-left:5px;
  display:block;
  vertical-align:middle;
}
.hover .metaDataActions {
  display:flex;
}
#metaDataForm tr.name {
  display:none;
}
.ui-dialog .metaDataEdit.foswikiFormSteps {
  padding:0;
  margin:0;
  border:0;
  background:transparent;
}
.metaDataViewDialog .foswikiPageForm {
  margin:0;
  padding:0;
  border:0;
}
